repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
      -   id: trailing-whitespace
      -   id: end-of-file-fixer
      -   id: requirements-txt-fixer
  -   repo: https://github.com/asottile/add-trailing-comma
      rev: v3.1.0
      hooks:
      -   id: add-trailing-comma
  -   repo: https://github.com/PyCQA/flake8
      rev: 6.1.0
      hooks:
      -   id: flake8
  -   repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.6.1
      hooks:
      -   id: mypy
